.login {
display: grid;
place-items: center;
padding: 3rem;
}
.login__button {
font-size: 1.2rem !important;
padding: 0.66rem 1.33rem;
}
.app {
max-width: 960px;
margin: 0 auto;
padding-bottom: 5rem;
 overflow-y: scroll;
}
 .app__header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-bottom: 1.5rem;
margin-left: auto;
position: relative;
 }
.app__logo {
height: 100%;
width: auto;
position: absolute;
left: 0;
top: 0;
}
.app__logo #notes {
display: none;
}
 .app__avatar {
 background: rgba(255, 255, 255, 0.1);
 border-radius: 99px;
 box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15);
padding: 0.25rem 0.25rem 0.25rem 1.5rem;
display: flex;
align-items: center;
cursor: pointer;
 }
.app__avatar div > * {
margin: 0;
line-height: 1.2;
white-space: nowrap;
text-align: right;
}
.app__avatar div h4 {
font-size: 14px;
}
.app__avatar div p {
font-size: 12px;
opacity: 0.75;
}
.app__avatar img {
width: 2.25rem;
height: 2.25rem;
border-radius: 99px;
object-fit: contain;
margin-left: 0.75rem;
}
 .app__notes {
display: flex;
flex-flow: row wrap;
width: 100%;
 }
 textarea, input, button {
 background: rgba(255, 255, 255, 0.1);
 border-radius: 0.5rem;
 border: none;
 padding: 0.5rem 1rem;
 color: white;
 outline: none !important;
  box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15);
  transition: all 0.2s ease-in-out;
font-size: 0.85rem;
 }
  .app__submit {
 background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15);
}
button:hover {
background: rgba(255, 255, 255, 0.25);
box-shadow: 0 1.5rem 1rem -0.75rem rgba(0,0,0,0.25);
}
 button:focus {
 background: rgba(0, 0, 0, 0.2);
 box-shadow: inset 0 0 1rem rgba(0,0,0,0.25); 
}
 *::placeholder {
 color: inherit;
 }
 
 form {
 padding: 2rem 0;
 display: flex;
 flex-flow: column wrap;
 width: 100%;
position: relative;
 }
input {
position: absolute;
width: calc(100% - 2rem);
left: 50%;
top: 3rem;
transform: translate(-50%, -50%);
opacity: 0;
pointer-events: none;
}
.input-expand {
opacity: 1;
transform: translate(-50%, 0);
pointer-events: auto;
}
 textarea {
 padding: 0;
 border-top: 1.5rem solid transparent;
 border-bottom: 1.5rem solid transparent;
 border-left: 1.5rem solid transparent;
 border-right: 1.5rem solid transparent;
 font-size: 1rem;
 resize: none;
 height: 8rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15), 0 0 0 2px #7a7a7a;
width: calc(100% - 4px);
margin: 0 auto;
 }
.textarea-expand {
border-top: 5rem solid transparent;
    height: 12rem;
}
 textarea:focus {
   box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.15), 0 0 0 2px rgba(255,255,255,0.2);
background: rgba(0,0,0,0.1);
}
 textarea::-webkit-scrollbar {
display: none;
 }
 .app__submit {
 margin-top: 1rem;
 width: 50%;
 align-self: flex-end;
 }
@media (min-width: 600px) {
.app__logo {
height: 2rem;
position: relative;
left: auto;
top: auto;
}
.app__logo #notes {
display: inline;
}
 .app__avatar img {
 width: 2.75rem;
 height: 2.75rem;
}
.app__header {
padding-bottom: 3rem;
}
input {
width: 28rem;
}
 textarea {
 width: 30rem;
 height: 10rem;
 margin: 0 auto;
}
.app__submit {
width: 10rem;
align-self: center;
}
textarea, input {
font-size: 1.12rem
}
 }