@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-size: 16px;
  padding: 1.5rem;
  background-color: #4a4a4a;
  background-image: url(./bg.webp);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
}
body::-webkit-scrollbar {
   display: none;
}
@media (min-width: 600px) {
 body {
padding: 3rem;
}
}