.note {
 flex: 100%;
 padding: 5rem 1.5rem 1.5rem 1.5rem;
 margin-bottom: 2rem;
 background-color: rgba(255,255,255,0.1);
 border-radius: 1rem;
 position: relative;
 box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.15);
 border: 2px solid #7a7a7a;
 transition: all 0.2s ease-in;
 }
  .note:hover {
   box-shadow: 0 1rem 2rem -0.5rem rgba(0,0,0,0.33);
}
.note.isEditable {
border: 2px solid rgba(255,255,255,0.2);;
background-color: rgba(0,0,0, 0.1);
}
 .note__header {
 position: absolute;
 right: 1rem;
 top: 1rem;
 }
 .note__footer {
  position: absolute;
 right: 1rem;
 bottom: 1rem;
 }
.footerTransition-enter {
opacity: 0;
transform: scale(0.5);
}
.footerTransition-enter-active {
opacity: 1;
transform: scale(1);
transition: all 0.2s;
}
.footerTransition-exit {
transform: scale(1);
opacity: 1;
}
.footerTransition-exit-active {
transform: scale(0.5);
opacity: 0;
transition: all 0.2s;
}

 .note__time {
 margin: 0;
 margin-top: 2rem;
 } 
.note__edit {
margin-right: 0.33rem;
}
.note__content {
font-size: 1.15rem;
}
@media (min-width: 600px) {
  .note {
flex: calc(50% - 1rem);
margin-right: 1rem;
padding: 5rem 2rem 1rem 2rem;
}
 .note:nth-child(even) {
margin-left: 1rem;
margin-right: 0;
}
}